#calcContainer {
  @font-face {
    font-family: "Calculator";
    src: url("../assets/web-fonts/digital-7.ttf");
    font-size: 16px;
  }

  * {
    margin: 0;
    padding: 0;
  }
  user-select: none;
  box-sizing: border-box;
  margin: 100px auto;
  padding: 0 10px;
  width: 350px;
  height: 400px;
  background-color: black;
  color: white;
  #display {
    height: 55px;
    font-family: "Calculator";
    #input {
      height: 45%;
      font-size: 16px;
    }
    #output {
      height: 55%;
      font-size: 18px;
    }
    div {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
  .pad {
    height: 330px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    place-items: stretch;
    margin-top: 3px;

    #clear,
    #zero {
      grid-column: 1/3;
    }
    #equal {
      grid-column: 4/5;
      grid-row: 4/6;
      background-color: hsla(214, 71%, 22%, 0.878);
    }
    span {
      border: thin solid black;
      background-color: rgb(73, 70, 70);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    span:hover {
      border: thin solid white;
      color: black;
    }
    #clear {
      background-color: brown;
    }
    #subtract,
    #multiply,
    #divide,
    #add {
      background-color: gray;
    }
  }
}
